*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/HD-wallpaper-color-background-blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.content{
    position: absolute;
    display: flex;
    top: 125px;
    left: 5px;
    width: 290px;
    height: 350px;
    background: rgba(255, 255, 255, 0.329);
}

.content .emaile{
    outline: none;
    width: 210px;
    height: 50px;
    border-radius: 5px;
    margin-top: 110px;
    margin-left: 50px;
    border: linear-gradient(to right,#5e86ba 0%, #9f649e 100%);
    transition: 0.4s ease all;
}

.content .pass{
    outline: none;
    width: 210px;
    height: 50px;
    border-radius: 5px;
    margin-top: 45px;
    margin-left: 50px;
    transition: 0.4s ease all;
}

.icon-eye {
    /* background: coral; */
    position: absolute;
    right: 70px;
    top: 233px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.4s ease all;
}

.content .btnn{
    background: linear-gradient(to right, #3498e4 0%, #48d4f4 100%);
    outline: none;
    width: 210px;
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease all;
}

h1{
    position: absolute;
    top: 25px;
    left: 50px;
    text-align: center;
}

.content .btnn:hover{
    color: #fff;
}

